:root {
  --white: #ffffff;
  --black: #000000;
  --gray: #777777;
  --dark-gray: #616161;
  --light-gray: #f1f1f1;
}

* {
  font-family: "Lato", sans-serif;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

a {
  color: var(--black);
  text-decoration: none;
}

img {
  width: 100%;
}

.container {
  max-width: 980px;
  margin: 0 auto;
}

header {
  padding: 16px;
  background-color: var(--white);
  position: absolute;
  z-index: 50;
  width: 100%;
}

header ul li a {
  color: var(--black);
  text-transform: uppercase;
}

#carousel {
  height: 100vh;
  background-image: url(./images/carousel-image.jpeg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  opacity: 0.75;

  position: relative;
}

#carousel .title {
  background-color: var(--black);
  color: var(--white);
  text-transform: uppercase;
  padding: 16px 24px;

  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

#carousel .title h1 {
  letter-spacing: 12px;
  margin-right: -12px;
  text-align: right;
}

.search {
  color: var(--black);
  position: absolute;
  right: 16px;
  top: 50%;
  transform: translateY(-50%);
}

#about {
  color: var(--gray);
  margin-top: 48px;
  line-height: 28px;
}

#about h1,
#about h4 {
  text-align: center;
  margin-bottom: 24px;
}

#about .about__me {
  margin-bottom: 48px;
}

#about .about__website .about__website--image {
  text-align: center;
  float: left;
  width: 50%;
  padding-right: 48px;
  padding-left: 32px;
}

#about .about__website .about__website--image img {
  opacity: 0.75;
  border-radius: 4px;
}

#about .about__website .about__website--image:hover img {
  opacity: 1;
}

#about .about__website .about__website--image {
  float: left;
  width: 50%;
}

#about .about__website .about__website--introduction {
  float: left;
  width: 50%;
  height: 100%;
}

#strength {
  margin-top: 48px;
}

.strength__list {
}

.strength__title {
  font-size: 18px;
  color: var(--gray);
  font-weight: 400;
  text-align: center;
}

.strength__list-item__header {
  display: flex;
  align-items: center;
  gap: 0px 12px;
  color: var(--gray);
  margin-bottom: 12px;
}

.strength__list-item__header h2 {
  font-size: 16px;
  font-weight: 400;
  letter-spacing: 10px;
}

.strength__skill-bar__item {
  width: 100%;
  height: 32px;
  background-color: var(--light-gray);
}

.strength__skill-bar__item--overlay {
  background-color: var(--dark-gray);
  color: var(--white);
  height: 100%;
}

.skill-bar__number {
  height: 100%;
  line-height: 100%;
}

.strength__skill-bar__item--overlay.overlay-1 {
  width: 90%;
}

.strength__skill-bar__item--overlay.overlay-2 {
  width: 85%;
}

.strength__skill-bar__item--overlay.overlay-3 {
  width: 75%;
}

#statistic {
  margin-top: 48px;
}

.statistic__list {
  display: flex;
  align-items: center;
  justify-content: space-between;

  background-color: var(--dark-gray);
  color: var(--white);
  padding: 32px 0;
}

.statistic__list-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 12px 0;
  text-align: center;
  flex: 1;
}

.statistic__list-item__number {
  font-size: 28px;
}

#portfolio {
  background-image: url(./images/portfolio-image.jpeg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  opacity: 0.75;

  min-height: 400px;
  height: 50vh;

  position: relative;
}

#portfolio h1 {
  font-size: 36px;
  letter-spacing: 12px;

  color: var(--white);
  font-weight: 400;

  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, 50%);
}
